# Unused / old / backup KiCad file endings
*.bak
*.kicad_pcb-bak
*.bck
*.000
 
SOURCES/freeDSP_Classic_SMD-backups/freeDSP_Classic_SMD-2022-01-26_191744.zip
SOURCES/freeDSP_Classic_SMD-backups/freeDSP_Classic_SMD-2022-01-26_190939.zip
SOURCES/freeDSP_Classic_SMD-backups/freeDSP_Classic_SMD-2022-01-26_185938.zip
SOURCES/freeDSP_Classic_SMD-backups/freeDSP_Classic_SMD-2022-01-26_184938.zip
SOURCES/freeDSP_Classic_SMD-backups/freeDSP_Classic_SMD-2022-01-26_182737.zip
SOURCES/freeDSP_Classic_SMD-backups/freeDSP_Classic_SMD-2022-01-26_181609.zip
SOURCES/fp-info-cache
SOURCES/#auto_saved_files#
